.digital {
  width: 233px;
  height: 76px;
  background-color: black;
}
.colon-container {
  display: inline-block;
  margin-bottom: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --coloncolor: white;
  --neon: rgba(255, 255, 255, 0.75);
}

@keyframes blink {
  0% {
    filter: opacity(1);
  }
  100% {
    filter: opacity(0);
  }
}

.colon {
  font-family: SansSerif, Arial, serif;
  font-size: 34pt;
  color: var(--coloncolor);
  text-shadow: 0 0 2vw var(--neon);
  animation: blink 1s both infinite ease-in;
  float: left;
}
